<div ng-controller="Admin">
  <h1>Admin</h1>
  <script type="text/javascript">
    function cfy() {
      $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [numFiles, label]);
      });

      $(document).ready( function() {
          $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

              var input = $(this).parents('.input-group').find(':text'),
                  log = numFiles > 1 ? numFiles + ' files selected' : label;

              if( input.length ) {
                  input.val(log);
              } else {
                  if( log ) alert(log);
              }

          });
        });
    }
    </script>
  <div class="col-md-5 ">
    <form ng-submit="addToBdd()" class="css-form my-form" name="csvUpdateForm">
      <div class="form-group row">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default  btn-file">
                    data.csv <span class="glyphicon glyphicon-folder-open"></span> <input onchange="angular.element(this).scope().file_changed(this)" type="file" accept=".csv" />
                </span>
            </span>
            <input type="text"  class="form-control" readonly >
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <button class="btn btn-default btn-lg" ng-click="import()"><span class="glyphicon glyphicon-tasks"></span> Import</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">cfy();</script>
